<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.projectMapper">
    <select id="FindProject" resultType="com.example.demo.entity.project">
        select *
        from project
        where Project_Name=#{Project_name}
    </select>
    <select id="FindAllProject" resultType="string">
        select Project_Name
        from project
    </select>
</mapper>