<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TestPlanMapper">
    <insert parameterType="com.example.demo.entity.TestPlan" useGeneratedKeys="true" keyProperty="Test_Plan_Id" id="addTestPlan">insert into test_plan values (#{Test_Plan_Id},#{Test_Plan_Name},#{Human_resource_allocation},#{principal},#{Start_Date},#{End_Date},#{State},#{Priority},#{Owing_module},#{Test_risk},#{Description}) </insert>


    <update parameterType="com.example.demo.entity.TestPlan" id="updateTestPlan">
    update test_plan

    <set>

    <if test="TestPlanName != null">Test_Plan_Name=#{TestPlanName} , </if>

    <if test=" HR != null">Human_resource_allocation=#{HR}, </if>

    <if test="StartData != null">Start_Date=#{StartData}, </if>

    <if test="EndData != null">End_Date=#{EndData}, </if>

    <if test="TPCondition != null">State=#{TPCondition}, </if>

    <if test="TPDes != null">Description=#{TPDes}, </if>

    <if test="TPPriority != null">Priority=#{TPPriority}, </if>

    <if test="ModuleName != null">Owning_module=#{ModuleName}, </if>

    <if test="TPrisk != null">Test_risk=#{TPrisk}, </if>

</set>

    <where>Test_Plan_Id=#{TestPlanNum} </where>

</update>

    <update id="updateTestCondition">update test_plan set State=#{param1} where Test_Plan_Id=#{param2} </update>

    <select id="findByPrincipal" resultType="com.example.demo.entity.TestPlan">select * from test_plan where principal=#{param1} and Owning_module=#{param2} </select>

    <select id="findByModule" resultType="com.example.demo.entity.TestPlan">select * from test_plan where Owning_module=#{ModuleName} </select>
    <select id="findAllPlan" resultType="com.example.demo.entity.TestPlan">
        select *
        from test_plan
    </select>
    <select id="findAllPlanName" resultType="string">
        select Test_Plan_Name
        from test_plan
    </select>
    <select id="findPlanByName" resultType="com.example.demo.entity.TestPlan">
        select *
        from test_plan
        where Test_Plan_Name like  CONCAT('%',#{TestPlanName},'%')
    </select>
</mapper>